In [1]:
import pandas as pd

In [11]:
musicas = [
    ["radioactive", "imagine dragons", 2012],
    ["goodvibrations", "the beach boys", 1966],
    ["a day in the life", "the beatles", 1967],
    ["message in a bottle", "the police", 1979]
]

In [10]:
titulos = ["nome", "banda", "lançamento"]

In [12]:
df = pd.DataFrame(musicas, columns=titulos)

In [13]:
print(df)

                  nome            banda  lançamento
0          radioactive  imagine dragons        2012
1       goodvibrations   the beach boys        1966
2    a day in the life      the beatles        1967
3  message in a bottle       the police        1979

In [14]:
df

                  nome            banda  lançamento
0          radioactive  imagine dragons        2012
1       goodvibrations   the beach boys        1966
2    a day in the life      the beatles        1967
3  message in a bottle       the police        1979

In [15]:
df.sort_values(by="lançamento")

                  nome            banda  lançamento
1       goodvibrations   the beach boys        1966
2    a day in the life      the beatles        1967
3  message in a bottle       the police        1979
0          radioactive  imagine dragons        2012